<div class="card shadow p-4">

    <h3>Attendance Details</h3>

    <table class="table table-striped">

        <tr>
            <th>Employee</th>
            <td>Ram Parkale</td>
        </tr>

        <tr>
            <th>Date</th>
            <td>14-Jul-2026</td>
        </tr>

        <tr>
            <th>Check In</th>
            <td>09:10 AM</td>
        </tr>

        <tr>
            <th>Check Out</th>
            <td>06:15 PM</td>
        </tr>

        <tr>
            <th>Working Hours</th>
            <td>09:05 Hrs</td>
        </tr>

    </table>

</div>